 h1 {
     color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 300%;
    letter-spacing: 40px;
}
h2{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 200%;
    letter-spacing: 5px;
}
h3{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 80%;
    letter-spacing: 2px;
}
h4{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 100%;
    letter-spacing: 2px;
}

h5{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 400%;
    letter-spacing: 2px;
    margin-top: 2%;
}

body {
    background-image: url(https://mediaviplar.ximo.pt//CONTEUDOS/60.jpg);
/*    background-repeat: no-repeat;*/
}
    background{
    background-color: aqua
}
p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 150%;
}
.right-img {
     display: block;
     margin: 20px auto;
     border-radius: 15px;
    margin-top: 5%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 15px;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: dodgerblue;
  text-align: center;
  font-size: 200%;
  padding: 16px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgray;
  transition: all 0.5s ease;
    
}






.command-title{
  background: cadetblue;
  border: 3px solid #a0a0a0;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px 100px; 
  padding: 10px;
  transition: all 1 ease    
}


.left-article{
  background: cadetblue;
  border: 3px solid #a0a0a0;
  width: 30%;
/*  margin: 20px right;*/
    margin: 0;
  border-radius: 20px 45px;
  /*  padding: 10px;*/
    padding: 0;
    float: left;
  transition: all 1s ease
  overflow: hidden;
}

.middle-article{
  background: cadetblue;
  border: 3px solid #a0a0a0;
  width: 30%;
  margin: 20px auto;
  border-radius: 20px 45px;
  /*  padding: 10px;*/
    padding: 0;
  transition: all 1s ease
  overflow: hidden;

}

.right-article{
  background: cadetblue;
  border: 3px solid #a0a0a0;
  width: 30%;
/*  margin: 20px right;*/
    margin: 0;
  border-radius: 20px 45px;
  /*  padding: 10px;*/
    padding: 0;
    float:right;
  transition: all 1s ease
  overflow: hidden;
}










/*
article {
  background: cadetblue;
  border: 3px solid #a0a0a0;
  width: 80%;
  margin: 20px auto;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.5s ease
}
*/

article:hover{
  box-shadow: 0 0 1.5rem whitesmoke;
  background-color: darkcyan;
  transition: all 0.2s ease;
}










